In [3]:
transaksi = [
    {'id': 'T001', 'jumlah_item': 10, 'harga_per_item': 15000, 'status': 'Lunas'},
    {'id': 'T002', 'jumlah_item': 5, 'harga_per_item': 25000, 'status': 'Lunas'},
    {'id': 'T003', 'jumlah_item': 20, 'harga_per_item': 5000, 'status': 'Belum Lunas'},
    {'id': 'T004', 'jumlah_item': 2, 'harga_per_item': 300000, 'status': 'Lunas'},
    {'id': 'T005', 'jumlah_item': 8, 'harga_per_item': 12000, 'status': 'Lunas'},
    {'id': 'T006', 'jumlah_item': 3, 'harga_per_item': 39000, 'status': 'Lunas'},
    {'id': 'T007', 'jumlah_item': 10, 'harga_per_item': 75000, 'status': 'Batal'},
    {'id': 'T008', 'jumlah_item': 25, 'harga_per_item': 10000, 'status': 'Belum Lunas'}
]

In [2]:
from functools import reduce

filter_lunas = lambda data: list(filter(lambda t: t['status'] == 'Lunas', data))
tambah_total_belanja = lambda data: list(
    map(lambda t: {**t, 'total_belanja': t['jumlah_item'] * t['harga_per_item']}, data)
)
hitung_total_pendapatan = lambda data: reduce(lambda total, t: total + t['total_belanja'], data, 0)

transaksi_lunas = filter_lunas(transaksi)
transaksi_dengan_total = tambah_total_belanja(transaksi_lunas)
total_pendapatan = hitung_total_pendapatan(transaksi_dengan_total)

print('Transaksi Lunas:')
for t in transaksi_lunas:
    print(t)

print('\nTransaksi dengan total belanja (3 pertama):')
for t in transaksi_dengan_total[:3]:
    print(t)

print(f"\nTotal Pendapatan dari transaksi lunas: Rp {total_pendapatan:,.0f}")

Transaksi Lunas:
{'id': 'T001', 'jumlah_item': 10, 'harga_per_item': 15000, 'status': 'Lunas'}
{'id': 'T002', 'jumlah_item': 5, 'harga_per_item': 25000, 'status': 'Lunas'}
{'id': 'T004', 'jumlah_item': 2, 'harga_per_item': 300000, 'status': 'Lunas'}
{'id': 'T005', 'jumlah_item': 8, 'harga_per_item': 12000, 'status': 'Lunas'}
{'id': 'T006', 'jumlah_item': 3, 'harga_per_item': 39000, 'status': 'Lunas'}

Transaksi dengan total belanja (3 pertama):
{'id': 'T001', 'jumlah_item': 10, 'harga_per_item': 15000, 'status': 'Lunas', 'total_belanja': 150000}
{'id': 'T002', 'jumlah_item': 5, 'harga_per_item': 25000, 'status': 'Lunas', 'total_belanja': 125000}
{'id': 'T004', 'jumlah_item': 2, 'harga_per_item': 300000, 'status': 'Lunas', 'total_belanja': 600000}

Total Pendapatan dari transaksi lunas: Rp 1,088,000